<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidmadethis.quicksend">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.US" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <action android:name="android.intent.action.SENDTO"></action>

                <data android:scheme="mailto"></data>

                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
            </intent-filter>

            <intent-filter android:label="Add to Quicksend">

                <action android:name="android.intent.action.SEND"></action>
                <data android:mimeType="*/*"></data>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

            <intent-filter android:label="Add to Quicksend">

                <action android:name="android.intent.action.SEND_MULTIPLE"></action>
                <data android:mimeType="*/*"></data>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings">
            <intent-filter>
                <action android:name="com.davidmadethis.quicksend.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.davidmadethis.quicksend.MainActivity" />
        </activity>
    </application>

</manifest>